#include <Richedit.h>
#include <windows.h>
#include "textbox.h"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
textbox DIALOG 0, 0, 145, 67
STYLE DS_CENTER|DS_MODALFRAME|DS_SHELLFONT|WS_CAPTION|WS_VISIBLE|WS_MAXIMIZE|WS_POPUP
CAPTION "output"
FONT 10, "Arial"
{
	CONTROL "", IDC_TEXT, MSFTEDIT_CLASS, ES_MULTILINE|ES_READONLY|ES_AUTOHSCROLL|ES_SAVESEL|ES_WANTRETURN|WS_VSCROLL|WS_TABSTOP, 45, 4, 200, 100
	DEFPUSHBUTTON "Close", IDCANCEL, 115, 201, 50, 14 // I don't even wanna know how visually horendis this probably looks
}
